@font-face {
  font-family: "Barbie";
  src: url("../fonts/Barbie-font.woff2") format("woff");
}


/**************/
/* BASICS */
/**************/

*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
  background-image: url("../images/fairytopia-world.webp");
  background-repeat: no-repeat;
}

body > section:first-of-type {
  display:grid;
}

button:not([disabled]) {
  cursor:pointer;
}

img {
  max-width:100%;
}





/*********************/
/* ROOT */
/*********************/

:root {
  --color-headings:crimson;
  --h1-fontsize: 85px;
}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  font-family: "Barbie", 'sans-serif';
  color:var(--color-headings);
  font-size:var(--h1-fontsize);
}



